{{ partial "header" . }}

<h1>Using the site you’ve made, post answers to the following questions</h1>

<p>Rank your 5 favorite, and least favorite, activities from this list: https://gist.github.com/fool/b0f254ff8c72a5765b6a9138249789d6</p>
<p>What is your favorite thing about providing technical support?</p>

<p>What did you think of our service during the time you used it?</p>

<p>Tell about how you made your site and why you chose the tools you did.</p>

<p>Briefly explain a challenge you experienced in setting up this site and how you solved it.</p>

<p>Could you give us a suggestion to improve this test or the job posting?</p>

<p>Why do you think SSL/HTTPS is important?</p>


<p>A customer writes in saying their “site won’t build”. </p>




{{ partial "footer" . }}
